#top {
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}

#navBar {
    display: flex;
    background-color: #b10333;
    margin-top: 30px;
    float: left;
}

.navBarObj {
    float: left;
}

.navBarObj a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../img/divisor.png) no-repeat left center;
}

.primeiro a {
    background: none;
}

body.home #navBar a#home,
body.brasil #navBar a#brasil,
body.internacional #navBar a#internacional,
body.economia #navBar a#economia,
body.saude #navBar a#saude,
body.ciencias #navBar a#ciencias,
body.fotos #navBar a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}