body{
    background: #fff url(../img/fundo.png) repeat-x;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

#container {
    width: 750px;
    margin: 0 auto;
}

h2 {
    font-weight: bold;
    background: #294c71;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
}

